{% extends 'base.html' %}

{% block title %} home {% endblock title %}

{% block body %}
<h2>  &emsp;    K Vinay Bhargav    <h2>
 <h1 style="font-size:1vw;">&emsp; &emsp; Innovator , Problem solver</h1>
 <h1>____________________________________________<h1>
 <h2>Experience</h2>
 <p style="font-size:1vw;"> Worked in Mastan IT solutions for 3 years.<p>


 <h1>____________________________________________<h1>

 <h2> EDUCATION <h2>

 <h4 > CMR COLLEGE OF ENGNEERING AND TECHNOLOGY<h4>
 <h6> Aug 2019 - April 2023<h6>
 <h6> ->GPA=8.2/10 <h6>
 <h6> ->Teaching assistant foe IT workshop <h6>
 
 <h1>____________________________________________<h1>

 <h2> ADDITIONAL SECTION <h2>
 <h6>1)College Fest <br>
 2)Hackatons<br>
 3)Paper-presentation contest<br>
 4)Maintaining the website<h6>

{% endblock body %}
